# Visual Studio
.vscode/
*.code-workspace

# Visual Studio 2019+
.vs/

# Arquivos de build e pasta de saída
[Bb]in/
[Oo]bj/

# Build Logs
*.log

# Arquivos de pacotes
*.nupkg
*.snupkg

# Arquivos de cache do Visual Studio
*.csproj.user
*.pidb
*.sln.docstates

# Dependências do NuGet
packages/
